/* font */
*{
    font-family: 'Antonio', sans-serif;
    margin: ;
}

/* background grigio */
.bg-grigio{
    background: #ECECEC;
}

/* altezza background di sfondo */
.bgsfondo{
    height: 1080px;
}

/* immagine background di sfondo */
.imagemountain{
    background: url(./media/immaginesfondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* altezza background sfumatura */
.bgsfumatura{
    height: 1080px;
}

/* sfumatura */
.imagemountainsfumatura{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* riga top logo + link */
.rigalogo{
    height: 35%;
    width: 100%
}

/* riga bottom - background montagne bianche */
.mountainwhite{
    background: url(./media/mountains1.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: contain;
    height: 350px;
    width: 100%;
}

/* riga top - logo */
.logo{
    height: 20%;
}

/* riga titolo */
.rigatitolo{
    height: 350px;
    width: 100%
}

/* Titolo */
h1{
    font-size: 100%;
    letter-spacing: 15px;
    color: #8B0102;
}

h4{
    color: #8B0102;
}


/* prima sezione frase lorem */
.lorem1{
    margin-top: 100px;
}

.lorem1 p{
    width: 40%;
    padding: 0;
    margin: 0;
    font-style: italic;
    text-align: center;
}

/* logo iniziale */
.logo-dimension{
    height:30%;
}

/* navbar*/
.link-decoration{
    list-style: none;
}

/* a navbar */
.link-decoration a{
    text-decoration: none;
    margin-right: 30px;
    color:  #8B0102;
}


.lorem2{
      margin-top: 100px;
      font-size: medium;
}

/* colore icone */
i{
    color: #8B0102;
}

/* riga seconda sezione */
.rigass{
    border-bottom: 3px solid #8B0102;
    max-height: 83px
}

/* pallino riga */
.pallino{
    content="";
    width: 20px;
    height: 20px;
    border: 3px solid #8B0102;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: -9px;
}

a:hover{
    opacity: 0.5;
}


/* sezione lorem 3 */
.lorem3{
    margin-top: 14vh;
    margin-bottom: 5vh;
}

h3{
    color: #8B0102;
}


/* sezione lorem4 */
.lorem4{
    background: url(./media/mountains2.png), #ECECEC;
    background-size: cover;
    background-position: center;
}

/* bottone */
button{
    background-color: #8B0102;
    color: white;
    border: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

button:hover{
    opacity: 0.5;
}


/* sezione lorem5 */
.lorem5{
    min-height: 45vh;
    background: white;
    padding-top: 7vh;
}

h2{
    color: #8B0102;
}

.timeline{
    border-left: 3px solid #8B0102;
    padding-left: 1vw;
}

.pallino2{
    position: relative;
}

.pallino2::before{
    content:"";
    width: 2vh;
    height: 2vh;
    border: 3px solid #8B0102;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -1.55vw;
}


/* sezione lorem6 */
.mountain4{
    height: 10vh;
    width: 10vh;
    border: #8B0102 3px solid;
    padding: 0.5vh;
}

.lorem6{
    height: 30vh;
}

.hlorem6{
    height: 15vh;
    background-color: #ECECEC;

}

.lorem6 div{
    background-color: #ECECEC;
}


/* sezione lorem7 */
.lorem7{
    height: 20vh;
    background-color: #ECECEC;
}

.lorem7p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.mountain5{
    height: 15vh;
    width: 15vh;
    border: #8B0102 3px solid;
    padding: 0.5vh;
}


/* penultima sezione */
.penultima{
    height: 40vh;
}

.bg-penultima{
    background: #ECECEC  url(./media/mountain7.png);
    background-size: contain;
}


/* footer */
.footer{
    background-color: #8B0102;
    color: #ECECEC;
    min-height: 25vh;
}

.footer h2, h4{
    color: #ECECEC;
}

.footer p{
    color: #ECECEC;
}


/* responsive per smartphone */
@media screen and (max-width: 390px){

    a{
        font-size: 70%;
    }

    .contenitoreriga{
        height: 15%;
    }

    .logo-dimension{
        height: 50%;
    }

    .contenitoriniziale{
        height: 50vh;
    }

    .rigariga{
        height: 100%;
    }

    .rigalogo{
        margin: 10px 0px 0px 0px;
    }

    .colonnariga{
        height: 100%;
    }

    .contenitorelorem1{
        height: 15vh;
    }

    .lorem1{
        margin: 0px;
        text-align: center;
        align-items: center;
    }

    .lorem1 p{
        font-size: 55%;
    }


    .lorem2{
        font-size: 70%;
        margin: 0px 0px 0px 0px;
        padding-bottom: -5px;
    }


    .pallino{
        width: 15px;
        height: 15px;
        border:#8B0102 solid 3px;
        margin-top: 2px;
    }

    .lorem4{
        background: url(./media/mountains2.png), #ECECEC;
        background-size: 1%;
    }

    button{
        font-size: 1.5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 3vh;
        padding-right: 3vh;
    }

    .lorem3{
        font-size: 1.5vh;
        margin-top: 5vh;
        margin-bottom: 0;
    }

    .lorem3 h3{
        font-size: 2.5vh;
    }

    .lorem4{
        background: url(./media/mountains2.png), #ECECEC;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mountain3{
        height: 1vh;
    }

    .lorem5 p,  h3{
        font-size: 3vw;
    }
    .lorem5 h2{
        font-size: 6vw;
        padding-left: 2.3vw;
    }

    .timeline{
        padding-left: 2vh;
    }

    .pallino2{
        position: relative;
    }

    .pallino2::before{
        content:"";
        width: 3vh;
        height: 3vh;
        border: 3px solid #8B0102;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: -6.5vw;
    }

    .containerlorem4{
        height: 20vh !important;
    }

    .mountain3{
        display: none !important;
    }

    .lorem6 {
        height: 50vh;
    }

    .lorem6 p{
        font-size: 2.5vw;
    }

    .lorem6 h4{
        font-size: 4vw;
    }

    .lorem6 i{
        display: none;
    }

    .lorem6 article{
        width: 90% !important;
    }

    .lorem7{
        min-height: 15vh
    }

    .lorem7 p{
        font-size: 2.5vw;
    }

    .lorem7 h3{
        font-size: 4vw;
    }

    .penultima{
        height: 20vh;
    }

    .bg-penultima{
        background: #ECECEC  url(./media/mountain7.png);
        background-size: contain;
        background-position-y:bottom;
        background-repeat: no-repeat;
    }


    .footer p, li{
        font-size: 2.5vw;
    }

    .footer h2{
        font-size: 6vw;
    }

    .footer h4{
        font-size: 4vw;
    }

    .footer{
        min-height: 45vh;
        display: flex;
        justify-content: space-evenly;
    }
}